name: DCO GCP Images

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

env:
  PACKER_PRODUCT_VERSION: "latest" 

jobs:
  build-image:
    runs-on: ubuntu-latest
    name: Build Packer
    defaults:
      run:
        working-directory: .
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - id: 'auth'
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_CREDS }}'

      - name: Setup `packer`
        uses: hashicorp/setup-packer@main
        id: setup
        with:
          version: ${{ env.PRODUCT_VERSION }}
      
      - name: Setup `vault`
        uses: eLco/setup-vault@v1
        id: setup-vault
        with:
          vault_version: 1.17.5

      - name: "Install Ansible"
        uses: alex-oleshkevich/setup-ansible@v1.0.1
        with:
          version: "9.5.1"

      - name: Run `packer init`
        id: init
        run: packer init .

      - name: Run `packer validate`
        id: validate
        run: |
          ansible-playbook --version
          packer validate -var 'VAULT_TOKEN=token' .

      - name: Packer Build
        env:
          HCP_CLIENT_ID: ${{ secrets.HCP_CLIENT_ID }}
          HCP_CLIENT_SECRET: ${{ secrets.HCP_CLIENT_SECRET }}
        run: |
          vault --version
          which vault
          packer build -color=false -on-error=cleanup -debug -var 'VAULT_TOKEN=${{ secrets.VAULT_TOKEN }}' -var "vault_binary_loc=$(which vault)" .
